* {
  box-sizing: border-box;
  color: #ebebff;
  font-size: 14px;
  font-weight: 500;
  font-family: "Roboto", "Montserrat", sans-serif;
}

body {
  padding: 0;
  margin: 0;
}
body canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 75;
}
body:before {
  content: "";
  background: url(../img/3.jpg) fixed center no-repeat;
  background-size: cover;
  filter: blur(3px);
  -webkit-filter: blur(3px);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 25;
}
body:after {
  content: "";
  background: #1e1e23;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 50;
  opacity: 0.96;
}

::-moz-selection {
  color: #ebebff;
  background: #c80038;
}

::selection {
  color: #ebebff;
  background: #c80038;
}

::-webkit-input-placeholder {
  color: #00234b;
  transition: 0.25s;
}

:-ms-input-placeholder {
  color: #00234b;
  transition: 0.25s;
}

::placeholder {
  color: #00234b;
  transition: 0.25s;
}

:focus::-webkit-input-placeholder {
  opacity: 0;
}

:focus:-ms-input-placeholder {
  opacity: 0;
}

:focus::placeholder {
  opacity: 0;
}

#portada {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1e1e23;
  height: 100vh;
  min-height: 750px;
}
#portada .titulo {
  color: #ebebff;
  font-family: "Sarpanch", sans-serif;
  font-size: 62px;
  font-weight: 700;
  text-align: center;
  position: relative;
  z-index: 100;
}
#portada .subtitulo {
  color: #c80038;
  margin-top: 115px;
  position: absolute;
  z-index: 100;
}
#portada .raton {
  display: flex;
  justify-content: center;
  border: 2px solid #fff;
  border-radius: 25px;
  position: absolute;
  bottom: 100px;
  z-index: 100;
  width: 40px;
  height: 70px;
  cursor: pointer;
}
#portada .raton:before {
  content: "";
  display: block;
  background: #fff;
  border-radius: 50%;
  position: relative;
  top: 15px;
  width: 8px;
  height: 8px;
  animation: 1.5s scroll cubic-bezier(0.65, -0.55, 0.25, 1.5) infinite;
}

@keyframes scroll {
  0% {
    opacity: 0;
    transform: translateY(0) scale(0.5);
  }
  10% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: translateY(30px) scale(0.5);
  }
}
@media only screen and (min-width: 500px) {
  #portada .titulo {
    font-size: 100px;
  }
  #portada .subtitulo {
    margin-top: 120px;
    margin-left: 25px;
  }
}
.menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 100px 0;
  margin: 0 auto;
  position: relative;
  z-index: 100;
  width: 1000px;
}
.menu .item {
  flex-shrink: 0;
  border-top: 5px solid #ebebff;
  border-left: 1px solid #ebebff;
  margin: 0 35px;
  position: relative;
  width: 300px;
  height: 400px;
  transition: 0.25s;
  overflow: hidden;
  cursor: pointer;
}
.menu .item:nth-child(1), .menu .item:nth-child(3) {
  margin-top: 100px;
}
.menu .item .titulo {
  font-size: 50px;
  text-transform: lowercase;
  writing-mode: vertical-lr;
  position: absolute;
  top: 30px;
  left: 20px;
  transition: 0.25s ease-in;
}
.menu .item .titulo-oculto {
  font-size: 35px;
  font-weight: 700;
  font-family: "Sarpanch", sans-serif;
  text-transform: lowercase;
  position: absolute;
  bottom: 60px;
  left: -500px;
}
.menu .item .texto {
  display: block;
  line-height: 20px;
  position: absolute;
  bottom: 20px;
  left: -500px;
  width: 240px;
  opacity: 0.75;
}
.menu .item:hover .titulo {
  top: 500px;
}
.menu .item:hover .titulo-oculto {
  animation: mover-a-la-derecha 0.25s forwards 0.5s;
}
.menu .item:hover .texto {
  animation: mover-a-la-derecha 0.25s forwards 0.65s;
}

@keyframes mover-a-la-derecha {
  from {
    left: -500px;
  }
  to {
    left: 20px;
  }
}
#footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 100px 0 175px;
  position: relative;
  z-index: 100;
}
#footer .legal {
  text-decoration: none;
  line-height: 20px;
  transition: 0.25s ease-in;
}
#footer .legal:hover {
  color: #c80038;
}
#footer .copyright {
  color: #ebebff;
  margin-top: 35px;
}

#about {
  display: flex;
  display: none;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 250px 50px;
  overflow: hidden;
  height: auto;
  min-height: 750px;
}
#about .texto {
  color: blue;
  font-size: 25px;
  line-height: 55px;
  margin: 0 auto;
  width: 750px;
}

#contacto {
  display: none;
  background: #ebebff;
  padding: 100px 0;
  position: relative;
}
#contacto .titulo {
  display: block;
  font-size: 30px;
  margin: 0 auto;
  width: 100%;
  max-width: 700px;
}
#contacto .subrayado {
  border-radius: 10px;
  background: #ebebff;
  border: none;
  box-shadow: inset 1px 1px 2px #ccccde, inset -1px -1px 2px #ffffff;
  margin-bottom: 75px;
  width: 100%;
  max-width: 700px;
  height: 3px;
}
#contacto .formulario {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 100;
}
#contacto .formulario .entrada {
  display: block;
  background: #ebebff;
  border: none;
  border-radius: 8px;
  outline: none;
  border-radius: 10px;
  box-shadow: inset 5px 5px 10px #c8c8d7, inset -5px -5px 10px white;
  padding: 10px 25px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 400px;
  height: 55px;
}
#contacto .formulario textarea.entrada {
  padding: 20px 25px;
  height: 175px;
  resize: none;
}
#contacto .formulario .boton {
  color: #00234b;
  font-size: 18px;
  font-weight: 900;
  background: #ebebff;
  border: none;
  border-radius: 10px;
  outline: none;
  box-shadow: 5px 5px 10px #c8c8d7, -5px -5px 10px white;
  margin: 25px 0;
  width: 100%;
  max-width: 400px;
  height: 55px;
  transition: 0.1s;
  cursor: pointer;
}
#contacto .formulario .boton:hover {
  background: #f0f0ff;
}
#contacto .formulario .boton:active {
  box-shadow: inset 5px 5px 10px #c8c8d7, inset -5px -5px 10px white;
}
#contacto .redes-sociales {
  display: flex;
  justify-content: center;
  width: 100%;
}
#contacto .redes-sociales .red-social {
  display: flex;
  align-content: center;
  justify-content: center;
  text-decoration: none;
  background: none;
  border: none;
  border-radius: 10px;
  background: #ebebff;
  box-shadow: 7px 7px 13px #c8c8d9, -7px -7px 13px #ffffff;
  margin: 0 10px;
  width: 50px;
  height: 50px;
}
#contacto .redes-sociales .red-social .icono {
  line-height: 54px;
  font-size: 25px;
}

/*# sourceMappingURL=styles.css.map */
