::-moz-selection {
  color: white;
  background: rgba(255, 0, 85, 0.99);
}

::selection {
  color: white;
  background: rgba(255, 0, 85, 0.99);
}

::-webkit-input-placeholder {
  color: white;
  transition: 0.25s ease-in;
}

:-ms-input-placeholder {
  color: white;
  transition: 0.25s ease-in;
}

::placeholder {
  color: white;
  transition: 0.25s ease-in;
}

:focus::-webkit-input-placeholder {
  opacity: 0;
}

:focus:-ms-input-placeholder {
  opacity: 0;
}

:focus::placeholder {
  opacity: 0;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background: #1e1e23;
}

::-webkit-scrollbar-thumb {
  background: #ff0055;
}
::-webkit-scrollbar-thumb:hover {
  background: white;
}

* {
  box-sizing: border-box;
  color: #323232;
  font-size: 14px;
  font-weight: 500;
  font-family: "Roboto", "Montserrat", sans-serif;
}

body {
  padding: 0;
  margin: 0;
  overflow-y: hidden;
}
body canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 75;
}

.titulo {
  font-size: 35px;
  margin: 0 0 25px;
}

.raya {
  background: #ff0055;
  margin: 0 auto 25px 0;
  border: none;
  width: 100px;
  height: 8px;
}

@media (min-width: 500px) {
  .titulo {
    font-size: 50px;
  }
}
.cabecera {
  padding: 0 25px;
  margin: 0 auto;
  width: 100%;
  max-width: 950px;
}
.cabecera .raya {
  margin: 0 auto 150px 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.25s ease-in;
}
.cabecera.derecha .titulo {
  text-align: right;
}
.cabecera.derecha .raya {
  margin: 0 0 150px auto;
  transform-origin: right;
}

.titulo-seccion {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 150px;
  position: relative;
  width: 100%;
  height: 110px;
}
.titulo-seccion .titulo {
  color: rgba(255, 0, 85, 0.05);
  font-size: 150px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  margin: 0;
  letter-spacing: 5px;
}
.titulo-seccion .subtitulo {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ff0055;
  font-size: 55px;
  font-weight: 900;
  text-transform: uppercase;
  text-shadow: 0px 0px 15px white;
  letter-spacing: 4px;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#portada {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100vh;
  overflow: hidden;
}
#portada .titulo {
  color: white;
  font-family: "Sarpanch", sans-serif;
  font-size: 62px;
  font-weight: 700;
  text-align: center;
  margin: 0;
  position: relative;
  z-index: 100;
}
#portada .subtitulo {
  color: #ff0055;
  margin-top: 115px;
  position: absolute;
  z-index: 100;
}
#portada .raton {
  display: flex;
  justify-content: center;
  border: 2px solid white;
  border-radius: 25px;
  position: absolute;
  bottom: 25px;
  z-index: 100;
  width: 35px;
  height: 55px;
  transition: 0.25s ease;
}
#portada .raton:before {
  content: "";
  display: block;
  background: white;
  border-radius: 50%;
  position: relative;
  top: 15px;
  width: 6px;
  height: 6px;
  transition: 0.25s;
  animation: 1.5s scroll cubic-bezier(0.65, -0.55, 0.25, 1.5) infinite;
}
#portada .raton:hover {
  border-color: #ff0055;
}
#portada .raton:hover:before {
  background: #ff0055;
}
#portada:before {
  content: "";
  background: url(../img/fondo.jpg) fixed center no-repeat;
  background-size: cover;
  filter: blur(3px);
  -webkit-filter: blur(3px);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 25;
}
#portada:after {
  content: "";
  background: #1e1e23;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 50;
  opacity: 0.96;
}

@media (min-width: 500px) {
  #portada .titulo {
    font-size: 100px;
  }
  #portada .subtitulo {
    margin-top: 120px;
    margin-left: 25px;
  }
}
@media (min-height: 600px) {
  #portada .raton {
    bottom: 100px;
    width: 42px;
    height: 68px;
  }
  #portada .raton:before {
    width: 8px;
    height: 8px;
  }
}
@keyframes scroll {
  0% {
    opacity: 0;
    transform: translateY(0) scale(0.5);
  }
  10% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: translateY(30px) scale(0.5);
  }
}
#about {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 100px 25px;
  position: relative;
  z-index: 100;
  overflow: hidden;
}
#about .item {
  box-shadow: 5px 5px 5px #e1e1e1;
  cursor: pointer;
}
#about .item .imagen {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  max-width: 500px;
  height: 400px;
}
#about .item .contenido {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 35px;
  width: 100%;
  max-width: 500px;
  height: auto;
}
#about .item .contenido .titulo {
  color: #323232;
}
#about .item .contenido .texto {
  color: #323232;
  line-height: 25px;
  margin: 0;
}
#about .item:nth-child(odd) {
  margin-bottom: 50px;
}
#about .item:nth-child(odd) .imagen {
  background-image: url(../img/servicio1.jpg);
}
#about .item:nth-child(even) .imagen {
  background-image: url(../img/servicio2.jpg);
}
#about .item:nth-child(even) .contenido {
  text-align: right;
}
#about .item:nth-child(even) .contenido .raya {
  margin: 0 0 25px auto;
}
#about .cubo {
  border: 1px solid #ff0055;
  position: absolute;
  top: 80vh;
  left: 45vw;
  z-index: -1;
  width: 10px;
  height: 10px;
  transform: scale(0) rotate(0);
  transform-origin: center;
  animation: aumentar 10s ease-in forwards infinite;
}
#about .cubo:nth-child(3) {
  top: 40%;
  left: 25%;
  animation-delay: 0s;
}
#about .cubo:nth-child(4) {
  top: 50%;
  left: 80%;
  animation-delay: 1s;
}
#about .cubo:nth-child(5) {
  top: 10%;
  left: 90%;
  animation-delay: 2s;
}
#about .cubo:nth-child(6) {
  top: 85%;
  left: 10%;
  animation-delay: 3s;
}
#about .cubo:nth-child(7) {
  top: 10%;
  left: 50%;
  animation-delay: 4s;
}
#about .cubo:nth-child(8) {
  top: 90%;
  left: 95%;
  animation-delay: 5s;
}
#about .cubo:nth-child(9) {
  top: 25%;
  left: 10%;
  animation-delay: 6s;
}
#about .cubo:nth-child(10) {
  top: 70%;
  left: 35%;
  animation-delay: 7s;
}

@media (min-width: 980px) {
  #about {
    padding: 200px 0;
  }
  #about .item {
    display: flex;
    box-shadow: none;
    width: fit-content;
    transform-style: preserve-3d;
  }
  #about .item .imagen {
    flex-shrink: 0;
    position: relative;
    width: 500px;
    height: 400px;
    transform: translateZ(25px);
    transition: 0.25s ease-in;
  }
  #about .item .contenido {
    flex-shrink: 0;
    position: relative;
    width: 500px;
    height: 400px;
  }
  #about .item .contenido .raya {
    transition: 0.25s ease-in;
  }
  #about .item .contenido:before {
    content: "";
    background: white;
    box-shadow: 2px 2px 5px #d2d2d2;
    position: absolute;
    top: -50px;
    left: 0;
    right: 0;
    bottom: -50px;
    z-index: -1;
  }
  #about .item:nth-child(odd) {
    flex-direction: row;
    margin-bottom: 250px;
  }
  #about .item:nth-child(odd) .imagen {
    box-shadow: 40px 0 80px -50px #d2d2d2;
    left: 25px;
  }
  #about .item:nth-child(odd) .contenido {
    padding: 0 50px 0 100px;
    right: 25px;
  }
  #about .item:nth-child(odd) .contenido .raya {
    transform-origin: left;
  }
  #about .item:nth-child(even) {
    flex-direction: row-reverse;
  }
  #about .item:nth-child(even) .imagen {
    box-shadow: -40px 0 80px -50px #d2d2d2;
    left: -25px;
  }
  #about .item:nth-child(even) .contenido {
    text-align: right;
    padding: 0 100px 0 50px;
    right: -25px;
  }
  #about .item:nth-child(even) .contenido .raya {
    transform-origin: right;
  }
  #about .item:nth-child(even) .contenido:before {
    box-shadow: -2px 2px 5px #d2d2d2;
  }
  #about .item:hover .imagen {
    transform: translateZ(50px);
  }
}
@keyframes aumentar {
  from {
    opacity: 1;
    transform: scale(0) rotate(0);
  }
  to {
    opacity: 0;
    transform: scale(25) rotate(960deg);
  }
}
#servicios {
  background: #414bf5;
  padding: 100px 25px;
  margin-bottom: 150px;
  position: relative;
  z-index: 100;
  transform: skewY(-5deg);
}
#servicios .contenido {
  transform: skewY(5deg);
}
#servicios .titulo-seccion .titulo {
  color: rgba(255, 255, 255, 0.05);
}
#servicios .titulo-seccion .subtitulo {
  color: #2328cd;
  text-shadow: 0px 0px 15px #414bf5;
}
#servicios .tarjetas {
  display: grid;
  grid-row-gap: 75px;
  grid-column-gap: 0;
  grid-template-columns: auto;
  margin: 0 auto;
  width: fit-content;
}
#servicios .tarjetas .tarjeta {
  position: relative;
  width: 300px;
  height: 400px;
  transform-style: preserve-3d;
  cursor: pointer;
}
#servicios .tarjetas .tarjeta .cara {
  display: flex;
  align-items: center;
  padding: 75px 50px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transform: perspective(500px) rotateY(0deg);
  transition: 1s ease-in-out;
  -webkit-backface-visibility: hidden;
}
#servicios .tarjetas .tarjeta .cara.frontal {
  background: #1e1e23;
  border: 2px solid #2328cd;
}
#servicios .tarjetas .tarjeta .cara.trasera {
  background: #1e1e23;
  border: 2px solid white;
  transform: perspective(1000px) rotateY(180deg);
}
#servicios .tarjetas .tarjeta h3 {
  color: #2328cd;
  font-size: 25px;
  text-align: left;
  margin: 0;
  transform: perspective(1000px) translateZ(50px);
}
#servicios .tarjetas .tarjeta p {
  line-height: 25px;
  transform: perspective(1000px) translateZ(50px);
}
#servicios .tarjetas .tarjeta:hover .cara.frontal {
  transform: perspective(1000px) rotateY(180deg);
}
#servicios .tarjetas .tarjeta:hover .cara.trasera {
  transform: perspective(1000px) rotateY(360deg);
  animation: 0.25s mostrar-fondo 1s forwards;
}

@media (min-width: 768px) {
  #servicios {
    padding: 200px 0;
  }
  #servicios .tarjetas {
    grid-column-gap: 75px;
    grid-template-columns: auto auto;
  }
}
@media (min-width: 1200px) {
  #servicios .tarjetas {
    grid-template-columns: auto auto auto;
  }
}
@keyframes mostrar-fondo {
  from {
    background: #1e1e23;
  }
  to {
    background: #ff0055;
  }
}
#contacto {
  padding: 0 0 150px;
  margin: 0 auto;
  position: relative;
  z-index: 100;
  width: 100%;
  max-width: 500px;
}
#contacto .raya {
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.25s ease-in;
}
#contacto .formulario {
  display: flex;
  flex-direction: column;
  margin-top: 75px;
  width: 100%;
  max-width: 550px;
}
#contacto .formulario .entrada-wrapper {
  margin-bottom: 35px;
  position: relative;
  width: 100%;
}
#contacto .formulario .entrada-wrapper .entrada {
  color: #1e1e23;
  background: none;
  border: none;
  outline: none;
  padding: 20px;
  position: relative;
  z-index: 10;
  width: 100%;
}
#contacto .formulario .entrada-wrapper textarea.entrada {
  height: 150px;
  resize: none;
}
#contacto .formulario .entrada-wrapper .placeholder {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.25s ease-in;
  pointer-events: none;
}
#contacto .formulario .entrada-wrapper textarea.entrada + .placeholder {
  top: 20px;
  transform: translateY(0);
}
#contacto .formulario .entrada-wrapper .entrada:focus + .placeholder,
#contacto .formulario .entrada-wrapper .entrada:valid + .placeholder {
  top: -25px;
  transform: translateY(0);
}
#contacto .formulario .entrada-wrapper .linea {
  background: white;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  width: 100%;
  height: 2px;
  transition: 0.25s ease-in;
  pointer-events: none;
}
#contacto .formulario .entrada-wrapper .entrada:focus ~ .linea,
#contacto .formulario .entrada-wrapper .entrada:valid ~ .linea {
  height: 100%;
}
#contacto .formulario .boton {
  color: white;
  background: none;
  border: 2px solid white;
  outline: none;
  margin: 25px 0 0;
  position: relative;
  width: 100%;
  height: 55px;
  transition: 0.25s ease-in;
  cursor: pointer;
}
#contacto .formulario .boton:hover {
  color: #ff0055;
  border-color: #ff0055;
}
#contacto .datos-de-contacto {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-left: 10px;
}
#contacto .datos-de-contacto .email,
#contacto .datos-de-contacto .telefono {
  line-height: 25px;
}

@media (min-width: 980px) {
  #contacto {
    padding: 0 0 150px;
    max-width: 950px;
  }
  #contacto .formulario {
    border: 2px solid white;
    padding: 75px 50px;
    margin-top: 150px;
    margin-left: 50px;
  }
  #contacto .datos-de-contacto {
    margin-top: 15px;
    margin-left: 60px;
  }
}
#testimonios {
  padding-bottom: 150px;
  position: relative;
  z-index: 100;
}
#testimonios .carrusel .item {
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, transparent, #1e1e23 75%);
  box-shadow: inset 0 0 0 2px white;
  padding: 50px;
  margin: 0 auto;
  position: relative;
  width: 100%;
  max-width: 300px;
  height: auto;
  cursor: pointer;
}
#testimonios .carrusel .item .nombre {
  font-size: 30px;
  margin: 0 0 25px;
}
#testimonios .carrusel .item .testimonio {
  line-height: 25px;
  margin: 0;
}
#testimonios .carrusel .item span {
  background: #ff0055;
  position: absolute;
  transition: 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
#testimonios .carrusel .item span:nth-child(3) {
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transform-origin: left;
}
#testimonios .carrusel .item span:nth-child(4) {
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  transform: scaleY(0);
  transform-origin: top;
}
#testimonios .carrusel .item span:nth-child(5) {
  right: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transform-origin: right;
}
#testimonios .carrusel .item span:nth-child(6) {
  left: 0;
  bottom: 0;
  width: 2px;
  height: 100%;
  transform: scaleY(0);
  transform-origin: bottom;
}
#testimonios .carrusel .item:hover span:nth-child(odd) {
  transform: scaleX(1);
}
#testimonios .carrusel .item:hover span:nth-child(even) {
  transform: scaleY(1);
}
#testimonios .carrusel .owl-item.active.center .item span:nth-child(odd) {
  transform: scaleX(1);
}
#testimonios .carrusel .owl-item.active.center .item span:nth-child(even) {
  transform: scaleY(1);
}

@media (min-width: 768px) {
  #testimonios .carrusel .owl-item.active.center .item span:nth-child(odd) {
    transform: scaleX(0);
  }
  #testimonios .carrusel .owl-item.active.center .item span:nth-child(even) {
    transform: scaleY(0);
  }
  #testimonios .carrusel .owl-item.active.center .item:hover span:nth-child(odd) {
    transform: scaleX(1);
  }
  #testimonios .carrusel .owl-item.active.center .item:hover span:nth-child(even) {
    transform: scaleY(1);
  }
}
#social {
  position: relative;
  z-index: 100;
}
#social .redes-sociales {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0;
  margin: -50px 0 0;
  transform-style: preserve-3d;
}
#social .redes-sociales .red-social {
  list-style: none;
  margin: 55px 0;
  position: relative;
  width: 65px;
}
#social .redes-sociales .red-social .enlace {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 30px;
  text-decoration: none;
  background: #ff0055;
  position: absolute;
  top: 0;
  left: 0;
  width: 65px;
  height: 65px;
  transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(0, 0);
  transition: 0.25s ease-in;
}
#social .redes-sociales .red-social .enlace .icono {
  color: white;
  font-size: 25px;
}
#social .redes-sociales .red-social .enlace:before {
  content: "";
  background: #cc0044;
  position: absolute;
  top: 7.5px;
  left: -15px;
  width: 15px;
  height: 100%;
  transform: rotate(0) skewY(-45deg);
  transition: 0.25s ease-in;
}
#social .redes-sociales .red-social .enlace:after {
  content: "";
  background: #ff3377;
  position: absolute;
  left: -7.5px;
  bottom: -15px;
  width: 100%;
  height: 15px;
  transform: rotate(0) skewX(-45deg);
  transition: 0.25s ease-in;
}
#social .redes-sociales .red-social .enlace:hover {
  transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(12px, -12px);
}
#social .redes-sociales .red-social .enlace.facebook:hover {
  background: #3b5999;
}
#social .redes-sociales .red-social .enlace.facebook:hover:before {
  background: #2d4474;
}
#social .redes-sociales .red-social .enlace.facebook:hover:after {
  background: #4d70ba;
}
#social .redes-sociales .red-social .enlace.twitter:hover {
  background: #00acee;
}
#social .redes-sociales .red-social .enlace.twitter:hover:before {
  background: #0087bb;
}
#social .redes-sociales .red-social .enlace.twitter:hover:after {
  background: #22c2ff;
}
#social .redes-sociales .red-social .enlace.instagram:hover {
  background: #7232bd;
}
#social .redes-sociales .red-social .enlace.instagram:hover:before {
  background: #5a2795;
}
#social .redes-sociales .red-social .enlace.instagram:hover:after {
  background: #8c51d1;
}
#social .redes-sociales .red-social .enlace.linkedin:hover {
  background: #0e76a8;
}
#social .redes-sociales .red-social .enlace.linkedin:hover:before {
  background: #0a5579;
}
#social .redes-sociales .red-social .enlace.linkedin:hover:after {
  background: #1297d7;
}
#social .redes-sociales .red-social .enlace.whatsapp:hover {
  background: #25d366;
}
#social .redes-sociales .red-social .enlace.whatsapp:hover:before {
  background: #1da851;
}
#social .redes-sociales .red-social .enlace.whatsapp:hover:after {
  background: #4be083;
}
#social .redes-sociales .red-social .enlace.youtube:hover {
  background: #c4302b;
}
#social .redes-sociales .red-social .enlace.youtube:hover:before {
  background: #9a2622;
}
#social .redes-sociales .red-social .enlace.youtube:hover:after {
  background: #d74f4b;
}

@media (min-width: 455px) {
  #social .redes-sociales {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
  #social .redes-sociales .red-social {
    margin: 55px 35px;
  }
}
#footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 150px 0 300px;
  margin-top: 32px;
  position: relative;
  z-index: 100;
}
#footer .legal {
  text-decoration: none;
  line-height: 20px;
  transition: 0.25s ease-in;
}
#footer .legal:hover {
  color: #ff0055;
}
#footer .copyright {
  color: white;
  margin-top: 35px;
}

#legal {
  margin: 50px auto 50px;
  position: relative;
  z-index: 100;
  width: 100%;
  max-width: 950px;
}
#legal h1 {
  color: white;
  font-family: "Sarpanch", sans-serif;
  font-size: 45px;
  font-weight: 700;
  margin: 0 0 50px;
}
#legal h2 {
  font-size: 30px;
  margin: 0 0 50px;
}
#legal h3 {
  display: inline-block;
  padding-bottom: 2px;
  border-bottom: 1px solid white;
  margin: 0 0 50px;
}
#legal p {
  line-height: 25px;
  margin: 0 0 50px;
}
#legal ul {
  margin-bottom: 50px;
}
#legal ul li {
  line-height: 25px;
}
#legal a {
  color: #ff0055;
}

@media (min-width: 500px) {
  #legal {
    margin: 250px auto 250px;
  }
  #legal h1 {
    font-size: 60px;
    margin-bottom: 100px;
  }
}
.cookies {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  right: 50px;
  bottom: 50px;
  z-index: 150;
  width: 250px;
  height: 250px;
  opacity: 0;
  transition: 0.25s ease-in;
  cursor: pointer;
}
.cookies .contenido {
  font-size: 12px;
  text-align: center;
  line-height: 18px;
  position: relative;
  z-index: 25;
  padding: 45px;
}
.cookies .contenido .enlace {
  display: block;
  font-size: 12px;
  text-decoration: none;
  border-bottom: 1px solid #ff0055;
  margin: 10px auto 0;
  padding: 0 5px 4px;
  width: fit-content;
  transition: 0.25s ease-in;
}
.cookies .capa {
  border: 1px solid white;
  border-radius: 38% 62% 63% 37%/41% 44% 56% 59%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.25s ease-in;
}
.cookies .capa:nth-child(1) {
  animation: animacion1 6s linear infinite;
}
.cookies .capa:nth-child(2) {
  animation: animacion1 4s linear infinite;
}
.cookies .capa:nth-child(3) {
  animation: animacion2 10s linear infinite;
}
.cookies:hover .contenido .enlace {
  border-color: white;
}
.cookies:hover .capa {
  background: rgba(255, 0, 85, 0.2);
  border-color: transparent;
}

@keyframes animacion1 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes animacion2 {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
.fondo {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1e1e23;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
}
.fondo .spinner {
  background: #ff0055;
  outline: 6px solid #ff0055;
  outline-offset: -1px;
  box-shadow: 0 0 0 1px #ff0055;
  width: 100px;
  height: 100px;
  transform: rotate(45deg) scale(0.5);
}
.fondo .spinner:before {
  content: "";
  display: block;
  background: #ff0055;
  width: 100px;
  height: 100px;
  animation: cargando 3s infinite;
}

@keyframes cargando {
  0% {
    transform-origin: bottom left;
    transform: translate(-5px, -105px) rotate(0deg) scale(1.1);
  }
  25% {
    transform-origin: bottom left;
    transform: translate(-5px, -105px) rotate(-180deg) scale(1.1);
  }
  26% {
    transform-origin: top left;
    transform: translate(-5px, 105px) rotate(-180deg) scale(1.1);
  }
  50% {
    transform-origin: top left;
    transform: translate(-5px, 105px) rotate(-360deg) scale(1.1);
  }
  51% {
    transform-origin: top right;
    transform: translate(5px, 105px) rotate(-360deg) scale(1.1);
  }
  75% {
    transform-origin: top right;
    transform: translate(5px, 105px) rotate(-540deg) scale(1.1);
  }
  76% {
    transform-origin: bottom right;
    transform: translate(5px, -105px) rotate(-540deg) scale(1.1);
  }
  100% {
    transform-origin: bottom right;
    transform: translate(5px, -105px) rotate(-720deg) scale(1.1);
  }
}

/*# sourceMappingURL=styles.css.map */
