// Colores

$lila: rgb(200,0,75);
$blanco: rgb(235,235,255);
$principal: rgb(0,35,75);
$texto: rgb(0,35,75);
$fondo: rgb(30, 30, 35);

// Responsive breakpoints

$mobile: 500px;

// ─────────────── //
//     GENERAL     //
// ─────────────── //

* {
    box-sizing: border-box;
    color: $blanco;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Roboto', 'Montserrat', sans-serif;
}

body {
    padding: 0;
    margin: 0;

    canvas {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 75;
    }

    &:before {
        content: '';
        background: url(../img/fondo.jpg) fixed center no-repeat;
        background-size: cover;
                filter: blur(3px);
        -webkit-filter: blur(3px);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 25;
    }

    &:after {
        content: '';
        background: $fondo;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 50;
        opacity: .96;
    }
}

// Selección de texto

::-moz-selection { color: $blanco; background: $lila }
     ::selection { color: $blanco; background: $lila }

// Placeholder

::-webkit-input-placeholder { color: $texto; transition: .25s }
     :-ms-input-placeholder { color: $texto; transition: .25s }
              ::placeholder { color: $texto; transition: .25s }

:focus::-webkit-input-placeholder { opacity: 0; }
     :focus:-ms-input-placeholder { opacity: 0; }
              :focus::placeholder { opacity: 0; }

// ─────────────── //
//     PORTADA     //
// ─────────────── //

#portada {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $fondo;
    height: 100vh;
    min-height: 750px;

    .titulo {
        color: $blanco;
        font-family: 'Sarpanch', sans-serif;
        font-size: 62px;
        font-weight: 700;
        text-align: center;
        position: relative;
        z-index: 100;
    }

    .subtitulo {
        color: $lila;
        margin-top: 115px;
        position: absolute;
        z-index: 100;
    }

    .raton {
        display: flex;
        justify-content: center;
        border: 2px solid $blanco;
        border-radius: 25px;
        position: absolute;
        bottom: 100px;
        z-index: 100;
        width: 40px;
        height: 70px;
        transition: .25s;
    
        &:before {
            content: '';
            display: block;
            background: $blanco;
            border-radius: 50%;
            position: relative;
            top: 15px;
            width: 8px;
            height: 8px;
            transition: .25s;
            animation: 1.5s scroll cubic-bezier(0.65, -0.55, 0.25, 1.5) infinite;
        }

        &:hover {
            border-color: $lila;

            &:before {
                background: $lila;
            }
        }
    }
}

@keyframes scroll {
    0% {
        opacity: 0;
        transform: translateY(0) scale(0.5);
    }
    10% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: translateY(30px) scale(0.5);
    }
}

// Mobile First

@media only screen and (min-width: $mobile) {
 
    #portada {

        .titulo {
            font-size: 100px;
        }
    
        .subtitulo {
            margin-top: 120px;
            margin-left: 25px;
        }
    }
}

// ──────────── //
//     MENÚ     //
// ──────────── //

#menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 100px 0;
    margin: 0 auto;
    position: relative;
    z-index: 100;
    width: 100%;
    max-width: 1000px;

    .item {
        flex-shrink: 0;
        border-top: 5px solid $blanco;
        border-left: 1px solid $blanco;
        margin: 35px;
        position: relative;
        width: 300px;
        height: 400px;
        transition: .25s;
        overflow: hidden;
        cursor: pointer;

        .titulo {
            font-size: 50px;
            text-transform: lowercase;
            writing-mode: vertical-lr;
            position: absolute;
            top: 30px;
            left: 20px;
            transition: .25s ease-in;
        }

        .titulo-oculto {
            font-size: 35px;
            font-weight: 700;
            font-family: 'Sarpanch', sans-serif;
            text-transform: lowercase;
            position: absolute;
            bottom: 60px;
            left: -500px;
        }

        .texto {
            display: block;
            line-height: 20px;
            position: absolute;
            bottom: 20px;
            left: -500px;
            width: 240px;
            opacity: .75;
        }
        
        &:hover {
            border-top-color: $lila;
            border-left-color: $lila;

            .titulo {
                top: 500px;
            }

            .titulo-oculto {
                animation: mover-a-la-derecha .25s forwards .5s;
            }

            .texto {
                animation: mover-a-la-derecha .25s forwards .65s;
            }
        }
    }
}

@keyframes mover-a-la-derecha {
    from { left: -500px }
    to   { left:   20px }
}

// Mobile First

@media only screen and (min-width: 740px) {

    #menu .item {
        margin: 0 35px;

        &:nth-child(1),
        &:nth-child(3) {
            margin-top: 100px;
        }
    }
}

// ────────────── //
//     FOOTER     //
// ────────────── //

#footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 100px 0 175px;
    position: relative;
    z-index: 100;

    .legal {
        text-decoration: none;
        line-height: 20px;
        transition: .25s ease-in;

        &:hover {
            color: $lila;
        }
    }

    .copyright {
        color: $blanco;
        margin-top: 35px;
    }
}

// ───────────── //
//     ABOUT     //
// ───────────── //

#about {
    display: flex;
    display: none;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 250px 50px;
    overflow: hidden;
    height: auto;
    min-height: 750px;

    .texto {
        color: blue;
        font-size: 25px;
        line-height: 55px;
        margin: 0 auto;
        width: 750px;
    }
}

// ──────────────── //
//     CONTACTO     //
// ──────────────── //

#contacto {
    display: none;
    background: $blanco;
    padding: 100px 0;
    position: relative;

    .titulo {
        display: block;
        font-size: 30px;
        margin: 0 auto;
        width: 100%;
        max-width: 700px;
    }

    .subrayado {
        border-radius: 10px;
        background: $blanco;
        border: none;
        box-shadow: inset  1px  1px  2px #ccccde, 
                    inset -1px -1px  2px #ffffff;
        margin-bottom: 75px;
        width: 100%;
        max-width: 700px;
        height: 3px;
    }

    .formulario {
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;
        z-index: 100;

        .entrada {
            display: block;
            background: $blanco;
            border: none;
            border-radius: 8px;
            outline: none;
            border-radius: 10px;
            box-shadow: inset  5px  5px  10px rgb(200,200,215),
                        inset -5px -5px  10px rgb(255,255,255);
            padding: 10px 25px;
            margin-bottom: 20px;
            width: 100%;
            max-width: 400px;
            height: 55px;
        }

        textarea.entrada {
            padding: 20px 25px;
            height: 175px;
            resize: none;
        }

        .boton {
            color: $texto;
            font-size: 18px;
            font-weight: 900;
            background: $blanco;
            border: none;
            border-radius: 10px;
            outline: none;
            box-shadow:  5px  5px  10px rgba(200,200,215),
                        -5px -5px  10px rgb(255,255,255);
            margin: 25px 0;
            width: 100%;
            max-width: 400px;
            height: 55px;
            transition: .1s;
            cursor: pointer;

            &:hover {
                background: lighten($color: $blanco, $amount: 1)
            }

            &:active {
                box-shadow: inset  5px  5px  10px rgb(200,200,215),
                            inset -5px -5px  10px rgb(255,255,255);
            }
        }
    }

    .redes-sociales {
        display: flex;
        justify-content: center;
        width: 100%;

        .red-social {
            display: flex;
            align-content: center;
            justify-content: center;
            text-decoration: none;
            background: none;
            border: none;
            border-radius: 10px;
            background: $blanco;
            box-shadow:  7px  7px  13px #c8c8d9, 
                        -7px -7px  13px #ffffff;
            margin: 0 10px;
            width: 50px;
            height: 50px;

            .icono {
                line-height: 54px;
                font-size: 25px;
            }
        }
    }
}

// ─────────────── //
//     SPINNER     //
// ─────────────── //

.fondo-blanco {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $fondo;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 500;

    .spinner {
        display: flex;
    
        .punto {
            background: $lila;
            border-radius: 50%;
            margin: 0 2.5px;
            width: 35px;
            height: 35px;
            animation: cargando 1.8s infinite ease-in-out;
            animation-fill-mode: both;
    
            &:nth-child(1) {
                animation-delay: -0.3s;
            }
    
            &:nth-child(2) {
                animation-delay: -0.15s;
            }
        }
    }
}

@keyframes cargando {

    0%, 80%, 100% {
        transform: scale(0)
    }
    
    40% {
        transform: scale(1)
    }
}