// Colores

$fondo  : rgb(030,030,035);
$blanco : rgb(235,235,255);
$magenta: rgb(200,000,075);

// Responsive breakpoints

$mobile: 500px;
$tablet: 768px;
$laptop: 980px;

// Selección de texto

::-moz-selection { color: $blanco; background: $magenta }
     ::selection { color: $blanco; background: $magenta }

// Placeholder

::-webkit-input-placeholder { color: transparentize($blanco, .25); transition: .25s ease-in }
     :-ms-input-placeholder { color: transparentize($blanco, .25); transition: .25s ease-in }
              ::placeholder { color: transparentize($blanco, .25); transition: .25s ease-in }

:focus::-webkit-input-placeholder { opacity: 0; }
     :focus:-ms-input-placeholder { opacity: 0; }
              :focus::placeholder { opacity: 0; }

// Scrollbar

::-webkit-scrollbar { width: 2px }
  
::-webkit-scrollbar-track {
    background: $fondo;
}

::-webkit-scrollbar-thumb {
    background: $magenta;

    &:hover {
        background: $blanco;
    }
}

// ─────────────── //
//     GENERAL     //
// ─────────────── //

* {
    box-sizing: border-box;
    color: $blanco;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Roboto', 'Montserrat', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    overflow-y: hidden; // Spinner

    canvas {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 75;
    }

    &:before {
        content: '';
        background: url(../img/fondo.jpg) fixed center no-repeat;
        background-size: cover;
                filter: blur(3px);
        -webkit-filter: blur(3px);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 25;
    }

    &:after {
        content: '';
        background: $fondo;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 50;
        opacity: .96;
    }
}

.titulo {
    font-size: 35px;
    margin: 0 0 25px;
}

.raya {
    background: $magenta;
    margin: 0 auto 25px 0;
    border: none;
    width: 100px;
    height: 8px;
}

@media (min-width: $mobile) {

    .titulo {
        font-size: 50px;
    }
}

// ─────────────── //
//     PORTADA     //
// ─────────────── //

#portada {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100vh;

    .titulo {
        color: $blanco;
        font-family: 'Sarpanch', sans-serif;
        font-size: 62px;
        font-weight: 700;
        text-align: center;
        margin: 0;
        position: relative;
        z-index: 100;
    }

    .subtitulo {
        color: $magenta;
        margin-top: 115px;
        position: absolute;
        z-index: 100;
    }

    .raton {
        display: flex;
        justify-content: center;
        border: 2px solid $blanco;
        border-radius: 25px;
        position: absolute;
        bottom: 25px;
        z-index: 100;
        width: 35px;
        height: 55px;
        transition: .25s;
    
        &:before {
            content: '';
            display: block;
            background: $blanco;
            border-radius: 50%;
            position: relative;
            top: 15px;
            width: 6px;
            height: 6px;
            transition: .25s;
            animation: 1.5s scroll cubic-bezier(0.65, -0.55, 0.25, 1.5) infinite;
        }

        &:hover {
            border-color: $magenta;

            &:before {
                background: $magenta;
            }
        }
    }
}

// Mobile First

@media (min-width: $mobile) {
 
    #portada {

        .titulo {
            font-size: 100px;
        }
    
        .subtitulo {
            margin-top: 120px;
            margin-left: 25px;
        }
    }
}

@media (min-height: 600px) {
 
    #portada .raton {
        bottom: 100px;
        width: 42px;
        height: 68px;

        &:before {
            width: 8px;
            height: 8px;
        }
    }
}

@keyframes scroll {
    0% {
        opacity: 0;
        transform: translateY(0) scale(0.5);
    }
    10% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: translateY(30px) scale(0.5);
    }
}

// ───────────── //
//     ABOUT     //
// ───────────── //

#about {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 100px 25px;
    position: relative;
    z-index: 100;

    .item {
        border: 2px solid $blanco;
        cursor: pointer;

        .imagen {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            width:100%;
            max-width: 500px;
            height: 400px;
        }

        .contenido {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 35px;
            width:100%;
            max-width: 500px;
            height: auto;

            .texto {
                line-height: 25px;
                margin: 0;
            }
        }

        &:nth-child(odd) {
            margin-bottom: 50px;

            .imagen {
                background-image: url(../img/servicio1.jpg);
            }
        }

        &:nth-child(even) {

            .imagen {
                background-image: url(../img/servicio2.jpg);
            }

            .contenido {
                text-align: right;

                .raya {
                    margin: 0 0 25px auto;
                }
            }
        }
    }
}

@media (min-width: $laptop) {

    #about {
        padding: 200px 0;

        .item {
            display: flex;
            border: none;
            width: fit-content;
            transform-style: preserve-3d;
    
            .imagen {
                flex-shrink: 0;
                position: relative;
                width: 500px;
                height: 400px;
                transform: translateZ(25px);
                transition: .25s ease-in;
                filter: grayscale(100%);
            }
    
            .contenido {
                flex-shrink: 0;
                position: relative;
                width: 500px;
                height: 400px;
    
                .raya {
                    transform: scaleX(0);
                    transition: .25s ease-in;
                }
    
                &:before {
                    content: '';
                    background: none;
                    border: 2px solid $blanco;
                    position: absolute;
                    top: -50px;
                    left: 0;
                    right: 0;
                    bottom: -50px;
                    z-index: -1;
                }
            }
    
            &:nth-child(odd) {
                flex-direction: row;
                margin-bottom: 250px;
    
                .imagen {
                    box-shadow: 40px 0 80px -50px black;
                    left: 25px;
                }
    
                .contenido {
                    padding: 0 50px 0 100px;
                    right: 25px;

                    .raya {
                        transform-origin: left;
                    }
                }
            }
    
            &:nth-child(even) {
                flex-direction: row-reverse;
    
                .imagen {
                    box-shadow: -40px 0 80px -50px black;
                    left: -25px;
                }
    
                .contenido {
                    text-align: right;
                    padding: 0 100px 0 50px;
                    right: -25px;
    
                    .raya {
                        transform-origin: right;
                    }
                }
            }
    
            &:hover {
    
                .imagen {
                    transform: translateZ(50px);
                    filter: grayscale(0);
                }
    
                .raya {
                    transform: scaleX(1);
                }
            }
        }
    }
}

// ──────────────── //
//     CONTACTO     //
// ──────────────── //

#contacto {
    padding: 0 25px 150px;
    margin: 0 auto;
    position: relative;
    z-index: 100;
    width: 100%;
    max-width: 950px;

    .raya {
        transform: scaleX(0);
        transform-origin: left;
        transition: .25s ease-in;
    }

    .formulario {
        display: flex;
        flex-direction: column;
        border: 2px solid $blanco;
        padding: 50px;
        margin-top: 75px;
        width: 100%;
        max-width: 550px;

        .entrada {
            background: none;
            border: none;
            border-bottom: 2px solid $blanco;
            outline: none;
            padding: 20px;
            margin-bottom: 25px;
            width: 100%;
            transition: .25s ease-in;

            &:focus {
                border-color: $magenta;
            }
        }

        textarea.entrada {
            height: 175px;
            resize: none;
        }

        .boton {
            color: $blanco;
            background: none;
            border: 2px solid $blanco;
            outline: none;
            margin: 25px 0;
            position: relative;
            width: 100%;
            height: 55px;
            transition: .25s ease-in;
            cursor: pointer;

            &:hover {
                color: $magenta;
                border-color: $magenta;
            }
        }
    }
}

@media (min-width: $laptop) {

    #contacto {
        padding: 0 0 150px;
        
        .formulario {
            margin-top: 125px;
            margin-left: 50px;
        }
    }
}

#social {
    display: none;
    position: relative;
    z-index: 100;

    .redes-sociales {
        display: flex;
        justify-content: center;
        transform: rotate(-25deg) skew(25deg);
        transform-style: preserve-3d;
        padding: 0;
        margin: 0;
    
        .red-social {
            list-style: none;
            position: relative;
            width: 60px;
            height: 60px;
            margin: 10px;
    
            .capa {
                display: flex;
                align-items: center;
                justify-content: center;
                color: rgba(255,255,255,.2);
                font-size: 30px;
                background: #333;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
    
            &:nth-child(1):hover .capa { background: #3b5999 }
            &:nth-child(2):hover .capa { background: #00acee }
            &:nth-child(3):hover .capa { background: #7232bd }
            &:nth-child(4):hover .capa { background: #0e76a8 }
            &:nth-child(5):hover .capa { background: #25d366 }
            &:nth-child(6):hover .capa { background: #c4302b }
    
            &:hover .capa {
                color: white;
                box-shadow: -1px 1px 1px rgba(0,0,0,.05);
                z-index: 1000;
                transition: .5s ease-in-out;
    
                &:nth-child(1) { transform: translate(00px,-00px); opacity: 0.2 }
                &:nth-child(2) { transform: translate(10px,-10px); opacity: 0.4 }
                &:nth-child(3) { transform: translate(20px,-20px); opacity: 0.6 }
                &:nth-child(4) { transform: translate(30px,-30px); opacity: 0.8 }
                &:nth-child(5) { transform: translate(40px,-40px); opacity: 1.0 }
            }

            &:before {
                content: '';
                background: #2a2a2a;
                position: absolute;
                left: 0;
                bottom: -10px;
                width: 100%;
                height: 10px;
                transform: skewX(-41deg);
                transform-origin: top;
            }

            &:after {
                content: '';
                background: #2a2a2a;
                position: absolute;
                top: 0;
                left: -9px;
                width: 9px;
                height: 100%;
                transform: skewY(-49deg);
                transform-origin: right;
            }
        }
    }
}

// ────────────── //
//     FOOTER     //
// ────────────── //

#footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 0 150px;
    position: relative;
    z-index: 100;

    .legal {
        text-decoration: none;
        line-height: 20px;
        transition: .25s ease-in;

        &:hover {
            color: $magenta;
        }
    }

    .copyright {
        color: $blanco;
        margin-top: 35px;
    }
}

// ─────────────── //
//     SPINNER     //
// ─────────────── //

.fondo {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $fondo;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;

    .spinner {
        background: $magenta;
        outline: 6px solid $magenta;
        outline-offset: -1px;
        box-shadow: 0 0 0 1px $magenta;
        width: 100px;
        height: 100px;
        transform: rotate(45deg) scale(0.5);
    
        &:before {
            content: '';
            display: block;
            background: $magenta;
            width: 100px;
            height: 100px;
            animation: cargando 3s infinite;
        }
    }
}

@keyframes cargando {
    0% {
        transform-origin: bottom left;
        transform: translate(-5px, -105px) rotate(0deg) scale(1.1);
    }
    25% {
        transform-origin: bottom left;
        transform: translate(-5px, -105px) rotate(-180deg) scale(1.1);
    }
    26% {
        transform-origin: top left;
        transform: translate(-5px, 105px) rotate(-180deg) scale(1.1);
    }
    50% {
        transform-origin: top left;
        transform: translate(-5px, 105px) rotate(-360deg) scale(1.1);
    }
    51% {
        transform-origin: top right;
        transform: translate(5px, 105px) rotate(-360deg) scale(1.1);
    }
    75% {
        transform-origin: top right;
        transform: translate(5px, 105px) rotate(-540deg) scale(1.1);
    }
    76% {
        transform-origin: bottom right;
        transform: translate(5px, -105px) rotate(-540deg) scale(1.1);
    }
    100% {
        transform-origin: bottom right;
        transform: translate(5px, -105px) rotate(-720deg) scale(1.1);
    }
}